body{
    margin: 5px;
    margin-right: 5px;
    padding: 0;
    background: linear-gradient(to right, #e35b5b, #964fb4);
    /*background-color: lavender;*/
    /*font-size: 14px;*/
    font-family: 'Lucida Calligraphy';
    font-weight:400;
    align-items: center;
    color: white;
}
.title {
    position: fixed;
    font-family: 'Lucida Handwriting';
    background-color:rgb(48, 5, 70);
    overflow: hidden;
    width: 99.2%;
    z-index: 1000;
    color: white;
    text-align: center;
    font-weight: 700;
}
.coming-soon-container {
    text-align: center;
}

.content {
    max-width: 500px;
    margin: auto;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.countdown-box {
    margin: 0 3px;
    padding: 10px;
    background-color: #333;
    border-radius: 15px;
}
.reel{
    text-align: center;
}