body{
    margin: 5px;
    margin-right: 5px;
    padding: 0;
    /*background: linear-gradient(to right, #FFD700, #022c03);*/
    font-family: 'Lucida Calligraphy';
    font-weight:400;
    align-items: center;
    color: black;
    justify-content: center;
    background-image: url("https://png.pngtree.com/background/20221228/original/pngtree-original-wedding-invitation-ink-and-watercolor-pure-color-light-color-paper-picture-image_1993946.jpg");
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}
.title {
    position: fixed;
    font-family: 'Lucida Handwriting';
    background-color:rgb(48, 5, 70);
    overflow: hidden;
    width: 99.2%;
    z-index: 1000;
    color: white;
    text-align: center;
    font-weight: 700;
}
.coming-soon-container {
    text-align: center;
}

.content {
    max-width: 500px;
    margin: auto;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.countdown-box {
    margin: 0 3px;
    padding: 10px;
    background-color: white;
    border: 2px solid rgb(48, 5, 70);
    border-radius: 15px;
}
.reel{
    text-align: center;
}
.container{
    text-align: center;
    cursor: pointer;
    width: 200px;
    border: 2px solid rgb(48, 5, 70);
    border-radius: 12px;
    background-color:rgb(48, 5, 70);
    margin-bottom: 15px;
    height: 150px;
    transition: transform 0.7s ease-in-out;
    color: white;
}
.containers{
    font-family: 'Lucida Handwriting';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container:hover{
    background-color: white;
    color:rgb(48, 5, 70); 
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(76, 73, 73);
}
.sol{
    color: rgb(48, 5, 70);;
}
.bottom-section {
    background-color:rgb(48, 5, 70);
    color:white;
    padding: 40px 10px;
    text-align: center;
    width:100%;
    border: 1px solid rgb(85, 54, 113);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
  }

.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
}

.contact-info {
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
}

  /* Style for the social icons */
.social-icons {
    margin-top: 20px;
  }

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
  }
.social-icons a:hover {
    background-color: #ddd; /* Change background color on hover */
    color: black; /* Change text color on hover */
    border: 2px solid white;
    border-radius: 12px;
  }  